html {
	text-align: center;
    font-family: "Helvetica";
    color: #666666;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.44em;
}

body {
	background-image:  url("../images/crossword_bg.png");
}

h1 {
    font-size: 2em;
    line-height: 3em;
    margin-top:60px;
    margin-bottom:0px;
}

h2 {
	text-align: center;
	font-size: 1.2em;
}


input[type="text"] {
	background-color: #858​ac9;
	border: 1px solid #E2E2E2;
	font-size:15px;
	padding:7px;
	width:400px;
	margin-bottom:3px;
	outline:none;	
}

input[type="text"]:hover{
	border: 1px solid #b6b9d7;
}

input[type="submit"]{
	background-color: #3B5998;
	border:1px solid #666666;
	font-size:15px;
	color:#FFFFFF;
	padding:5px;
	margin-bottom:3px;
	margin-top:3px;
	
}

#loading_div{
    display:none;
}

#classToDirTable th{
    color: white;
    background-color: #666666;
}